/* === DESKTOP FIRST === */

/* xl <= Extra extra large (xxl) */
@media (max-width: 1400px) {
    /* RESET FRAME EFFECT */

    .frames {
        width: initial;
        height: initial;
        position: initial;
        perspective: initial;
        transform-style: initial;
    }
    .frames__item {
        width: initial;
        height: initial;
        position: initial;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: initial;
        will-change: initial;
        transform-style: initial;
        transition: initial;
        visibility: initial;
        opacity: initial;
        transform: initial;
    }
    .frames__item.show {
        visibility: initial;
        opacity: initial;
        transform: initial;
    }
    .frames__item.hide {
        visibility: initial;
        opacity: initial;
        transform: initial;
    }
    .frames__line {
        display: none;
    }
    .first-screen {
        min-width: 100vw;
        min-height: 100vh;
    }
    .cases {
        padding: 5em 0 2em;
    }
    .cases .swiper {
        padding: 5em 0;
        min-height: 500px;
        display: flex;
        align-items: center;
    }
    .cases__heading {
        top: 0;
    }
    .cases .card {
        margin: 0 auto;
    }
    .cases .swiper-pagination {
        bottom: 1em;
        z-index: 0;
    }
    .popular-services,
    .benefits,
    .seo {
        padding: 5em 0;
    }
}

/* lg <= Extra large (xl) */
@media (max-width: 1200px) {
}

/* md <= Large (lg) */
@media (max-width: 992px) {
    .cases__item-info {
        display: none;
    }
}

/* sm <= Medium (md) */
@media (max-width: 768px) {
    body.hidden {
        overflow: hidden;
    }

    .header__burger {
        display: block;
    }

    .nav {
        height: 100vh;
        position: absolute;
        right: 0;
        left: 0;
        visibility: hidden;
        background-color: white;
        overflow-y: auto;
        transform: translateX(100%);
        transition: visibility var(--transition), transform var(--transition);
    }
    .header.show-nav .nav {
        visibility: visible;
        transform: translateX(0);
    }
    .nav > ul {
        flex-direction: column;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    .nav > ul li + li {
        margin-left: 0;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
    }
    .nav > ul li a {
        padding: 0.5em 1em;
        display: block;
    }

    .footer .nav {
        height: initial;
        position: initial;
        visibility: initial;
        transform: initial;
        background-color: initial;
    }
    .footer .nav > ul {
        flex-direction: initial;
        border: initial;
    }
    .footer .nav > ul li + li {
        margin-left: 1em;
        border-top: initial;
    }

    .first-screen__heading {
        font-size: 4em;
        line-height: 1;
    }
    .first-screen__services {
        padding: 1em 2em;
        line-height: 1.2;
    }
    .first-screen__services li + li {
        margin-top: 1em;
    }

    .popular-services__list {
        gap: 2em;
    }

    .service-card {
        max-width: initial;
    }

    .seo__body {
        flex-direction: column;
    }

    .footer .footer__col {
        flex: 1 1 100%;
    }
}

/* xs <= Small (sm) */
@media (max-width: 576px) {
    .header__logo img {
        height: 50px;
    }
    .header__contacts a {
        font-size: 1.2em;
    }

    .first-screen__heading {
        font-size: 3em;
    }

    .cases .swiper-button-prev {
        left: 1em;
    }
    .cases .swiper-button-next {
        right: 1em;
    }
}

/* === MOBILE FIRST === */

/* Custom (xs) */
@media (min-width: 0) {
}

/* Small (sm) */
@media (min-width: 576px) {
}

/* Medium (md) */
@media (min-width: 768px) {
}

/* Large (lg) */
@media (min-width: 992px) {
}

/* Extra large (xl) */
@media (min-width: 1200px) {
}

/* Extra extra large (xxl) */
@media (min-width: 1400px) {
}

/* CONTAINER */

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}
@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}
